body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 90vh;
}

section{
  width: 40vw;
  height: 70vh;
  /* background-color: red; */
}

section#left{
  /* border: 2px solid; */
  /* background-color: lightblue; */
}


section#right{
  border-left: 2px solid;
  /* background-color: pink; */
}

div.dashboard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  border: 2px solid;
  /* height: 100vh; */
}
