body{
  display: flex;
  flex-direction: column;
  align-items: center;
}


section#left{
  border: 2px solid;
  align-self: flex-start;
}


section#right{
  border: 2px solid;
  align-self: flex-start;
}

div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
