.pageBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.heading button{
  background-color: white;
  border: 2px solid darkgrey;
  width: 15vw;
  height: 10vh;
}

.heading button:hover{
  background-color: darkgrey;
}


thead{
  background-color: lightBlue;
}

table{
  border: 2px solid black;
}

tr{
  border: 2px solid black;
}

a.deleteBtn{
  color: red;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25)

}
a.deleteBtn:hover{
  color: darkred;
}

tr.surPlus{
  display: none;
}

div#archives{
  align-self: flex-end;
}

div.plus{
  align-self: flex-end;
}

a.reprendreBtn{
  color: darkblue;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25)

}
a.reprendreBtn:hover{
  color: lightBlue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  text-align: center;
  -moz-appearance: textfield;
}
