div#subBody {
    height: 700px;
    width: 70vw;
    align-self: flex-end;
}

h4 {
    text-align: center;
    font-size: xx-large;
}

ul#postholder {
    list-style-type: none;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

ul#postholder li {
    border: 2px solid #000000;
    margin: 15px 10px;
    width: 300px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul#postholder li a {
    margin: 10px 15px;
    text-decoration: none;
    color: black;
}

ul#postholder li a#title,
ul#postholder li a#body {
    background-color: #90DBF4;
}


/* li .submenu a {
    text-align: center;
} */

li .submenu a button {
    width: 120px;
    border: 1px solid #000000;
    border-radius: 15px;
    /* background-color: #1e90ff; */
}

li .submenu a button#buttonComment {
    background-color: #e7e7e7;
}

li .submenu a button#buttonUpdate {
    background-color: #1e90ff;
    color: #ffffff;
}

li .submenu a button#buttonDelete {
    background-color: #d62828;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    justify-content: space-around;
}

form input[name="submit-button"] {
    width: 80px;
    height: 40px;
    font-size: 20px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25);
}

div.submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

div.submenu div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/* pour les archives  */

ul#postholder_second {
    list-style-type: none;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


/* ul#postholder_second li {
    border: 2px solid #000000;
    margin: 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul#postholder_second li a {
    margin: 10px 15px;
    background-color: #e7e7e7;
    text-decoration: none;
    color: black;
} */

article#sectionLeft button#buttonPost {
    border-color: #e7e7e7;
    background-color: #595959ff;
}

article#sectionLeft button#buttonPost a {
    color: #ffffff;
}