div#subBody {
    height: 700px;
    width: 70vw;
    align-self: flex-end;
}

ul#postholder {
    list-style-type: none;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

h4 {
    text-align: center;
    font-size: x-large;
}

ul#postholder li {
    border: 2px solid #000000;
    margin: 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li a {
    margin: 10px 15px;
    background-color: #e7e7e7;
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    justify-content: space-around;
}

form input {
    width: 80px;
    height: 40px;
    font-size: 20px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25);
}