.pageBody{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}


div.heading{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

button.logout{

}

button.home{

}

img{
  width: 200px;
  height: 200px;
}

div.menuside{
  height: 100vh;
  display: flex;

}

div.menuside div{
  width: 100%;
  height: 500px;
  display: flex;
}

div.menuside div.left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border-right: 2px solid;
}

div.menuside div.right{
  /* border: 2px solid green; */
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border-radius: 20px; */

}

td{
  text-align: center;
}

td a {
  font-size: 35px;
  color: black;
}

button.menuItem{
  width: 37vw;
  height: 7vh;
  border-radius: 20px;
  margin: 10px;
}

button.menuItem:hover{
  background-color: darkgrey;
}
