/*  ACCEIL PAGE */
/* from marieme */
html{

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99.2vw;
  height: 100%;
  overflow: hidden;
}

.pageBody{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Index User */

#userIndex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#userHeader {

}


#articles {
  background-color: ;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: space-between;
}

#sectionLeft {
  border: 2px solid green;
    width: 500px;
    height: 700px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-self: flex-start; */
}

#sectionLeft img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #000000;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25);
}

#sectionLeft button {
    width: 60%;
    height: 50px;
    margin: 10px 0px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25);
}

div.heading{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 70%;
  align-self: center;
}


button a{
  text-decoration: none;
  color: black;
}

button.logout{
  background-color: darkgrey;
}

button.home{
  background-color: darkgrey;

}
