.pageBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
}


/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: aqua;
} */

div.heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid #000000; */
    align-self: center;
}

div.heading button {
    border: 2px solid gray;
    background-color: #e7e7e7;
    font-size: 20px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25), 4px 6px 4px rgba(0, 0, 0, 0.25)
}

img {
    width: 200px;
    height: 200px;
}

div.menuside {
    height: 100vh;
    display: flex;
}

div.menuside div {
    width: 100%;
    height: 500px;
    display: flex;
}

div.menuside div.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    border-right: 2px solid;
}

div.menuside div.right {
    /* border: 2px solid green; */
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border-radius: 20px; */
}

td {
    text-align: center;
}

td a {
    font-size: 35px;
    color: black;
}

button.menuItem {
    width: 37vw;
    height: 7vh;
    border-radius: 20px;
    margin: 10px;
}

button.menuItem:hover {
    background-color: darkgrey;
}