<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvel Utilisateurs</title>
</head>

<body>
    <div>
        <form action="" method="post">
            <p id="titleAddUser">Créer un nouvel utilisateur</p>
            <div class="champ">
                <p>Email</p>
                <div>
                    <input name="email" class="champForm" type="text" placeholder="Votre mail">
                </div>
            </div>
            <div class="champ">
                <p>Mot de passe</p>
                <div>
                    <input name="password" class="champForm" type="text" placeholder="Votre mot de passe">
                </div>
            </div>
            <div class="champ">
                <p>Profil</p>
                <div>
                    <select name="profil" id="pet-select">
                        <option value="">--Please choose an option--</option>
                        <option value="admin">Admin</option>
                        <option value="user">user</option>
                        <option value="visitor">Visitor</option>
                    </select>
                </div>
            </div>
            <div class="champ">
                <button type="submit" name="addNewUtilisateur">Ajouter</button>
            </div>
        </form>
    </div>
</body>

</html>