<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="{{ url_for('static', filename='js/d3.min.js') }}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}">
    <title></title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h2>This is the dashboard</h2>
    <h3>Posts: {{ xposts }}</h3>
    <h3>Deleted: {{ xdeleted }}</h3>
    <div class="">
      <section id='left'>
      </section>
      <section id='right'>
      </section>
      <section id='middle'>
      </section>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}" charset="utf-8"></script>
</html>
