{% extends 'user_index.html' %}
{% block title %}
  Post de {{ current_user.name }}
{% endblock title %}
{% block sectionRight %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<div id="subBody">
  {% if current_user_items %}
  <a href="{{ url_for('commentsArchive', post_id=post_id)}}"><button type="button" name="button">Voir les archives</button></a>
    <h4>les commentaires du post {{ post_id }}</h4>

    <ul id="postholder">
        {% for i in range(itemLength) %}
        <li>
            <!-- <a id="" href="#">{{ i + 1 }}</a> -->
            <a id="title" href="#">Name : {{ current_user_items[i].name | capitalize }}</a>
            <a id="title" href="#">Email : {{ current_user_items[i].email | capitalize }}</a>
            <a id="body" href="#">{{ current_user_items[i].body | capitalize }}</a>
            <div class="submenu">
              <a id="delete" href="{{ url_for('deleteComment', comment_id=current_user_items[i].id) }}"><button>Supprimer</button></a>
              <a href="{{ url_for('updateComment', comment_id=current_user_items[i].id )}}"><button type="button" name="button">Update</button></a>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <h4>Ici vous avez les archives  des commentaires du posts {{ post_id }}</h4>
    {% if current_user_items_from_archive %}
    <ul id="postholder_second">
        {% for i in range(itemLength) %}
        <li>
            <!-- <a id="" href="#">{{ i + 1 }}</a> -->
            <a id="title" href="#">Name : {{ current_user_items_from_archive[i].name | capitalize }}</a>
            <a id="body" href="#">{{ current_user_items_from_archive[i].body | capitalize }}</a>
            <div class="submenu">
              <a id="delete" href="{{ url_for('deleteComment', comment_id=current_user_items_from_archive[i].id) }}"><button>Reprendre</button></a>
            </div>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('afficheComments',post_id=post_id )}}"><button type="button" name="button">Retour</button></a>
    {% endif %}
  {% endif %}
    <!-- <form class="" action="" method="post">
        <input type="submit" name="submit-button" value="charger">
        <input type="submit" name="submit-button" value="ajouter">
    </form> -->
    <a href="{{ url_for('ajouterComment', post_id=post_id) }}"><button type="button" name="button">Ajouter</button></a>
</div>
{% endblock sectionRight %}
