{% extends 'user_index.html' %}

{% block title %}
  Photos de {{ current_user.name }}
{% endblock title %}

{% block sectionRight %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photos.css') }}">
<div id="subBody">
  <section>
    <a href="{{ url_for('menuItem', item='albums') }}"><button type="button" name="button">Retour</button></a>
    <a href="{{ url_for('ajouterPhoto', album_id=album_id)}}"><button type="button" name="button">Ajouter</button></a>
    <a href="{{ url_for('photosArchive', album_id=album_id) }}"><button type="button" name="button">Archives</button></a>
  </section>
  {% if photos %}
  <ul id="postholder">
    {% for i in range(photosLength) %}
        <li>
          <figure>
            <a href="{{ url_for('view', photo_id= photos[i].id ) }}"><img src="{{ photos[i].thumbnailurl }}" alt=""></a>
            <figcaption>{{ photos[i].title[:10] }}</figcaption>
          </figure>
        </li>
    {% endfor %}
  </ul>
  {% else %}
  <h4>Les archives de  l'album {{ album_id }}</h4>
      <ul id="postholder">
        {% for i in range(photosLength) %}
            <li>
              <figure>
                <a href="{{ url_for('view', photo_id= photos_from_archive[i].id ) }}"><img src="{{ photos_from_archive[i].thumbnailurl }}" alt=""></a>
                <figcaption>{{ photos_from_archive[i].title[:10] }}</figcaption>
              </figure>
            </li>
        {% endfor %}
      </ul>
  {% endif %}
</div>
{% endblock sectionRight %}
