{% extends 'user_index.html' %}

{% block title %}
  Photo de {{ current_user.name }}
{% endblock title %}

{% block sectionRight %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photo.css') }}">
<div id="subBody">
  <a href="{{ url_for('view_photos', album_id=photo.albumId) }}"><button type="button" name="button">Retour</button></a>
  <figure>
    <img src="{{ photo.url }}" alt="{{ photo.title }}">
    <figcaption>{{ photo.title }}</figcaption>
  </figure>
</div>
{% endblock sectionRight %}
