{% extends 'user_index.html' %}
{% block title %}
  Post de {{ current_user.name }}
{% endblock title %}
{% block sectionRight %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
<div id="subBody">
    <br><br> {% if current_user_items %}
    <h4>les posts de {{ current_user.name }} </h4>

    <ul id="postholder">
        {% for i in range(itemLength) %}
        <li>
            <!-- <a id="" href="#">{{ i + 1 }}</a> -->
            <a id="title" href="#">Title : {{ current_user_items[i].title | capitalize }}</a>
            <a id="body" href="#">{{ current_user_items[i].body | capitalize }}</a>
            <a id="delete" href="#"><button>Supprimer</button></a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <h4>There is no posts in the Database</h4>
    {% endif %}
    <form class="" action="" method="post">
        <input type="submit" name="submit-button" value="charger">
        <input type="submit" name="submit-button" value="ajouter">
    </form>
</div>
{% endblock sectionRight %}
