{% extends 'user_index.html' %}
{% block title %}
  Post de {{ current_user.name }}
{% endblock title %}
{% block sectionRight %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<div id="subBody">
  {% if current_user_items %}
    <h4>les posts de {{ current_user.name }} </h4>

    <ul id="postholder">
        {% for i in range(itemLength) %}
        <li>
            <!-- <a id="" href="#">{{ i + 1 }}</a> -->
            <a id="title" href="#">Title : {{ current_user_items[i].title | capitalize }}</a>
            <a id="body" href="#">{{ current_user_items[i].body | capitalize }}</a>
            <div class="submenu">
              <a id="delete" href="#"><button>Supprimer</button></a>
              <a href="{{ url_for('updatePost', post_id=current_user_items[i].id) }}"><button type="button" name="button">Update</button></a>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <h4>There is no posts in the Database</h4>
    {% endif %}
    <form class="" action="" method="post">
        <input type="submit" name="submit-button" value="charger">
        <input type="submit" name="submit-button" value="ajouter">
    </form>
</div>
{% endblock sectionRight %}
