{% extends 'user_index.html' %}

{% block title %}
  Todos de {{ current_user.name }}
{% endblock title %}

{% block sectionRight %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/todos.css') }}">
<div id="subBody">
  <form class="" action="" method="post">
    <input type="submit" name="submit-button" value="charger">
    <input type="submit" name="submit-button" value="ajouter">
  </form>
  <br><br>
  {% if current_user_items %}
    <h4>les Todos de {{ current_user.name }} </h4>
  <ul id="postholder">
    {% for i in range(itemLength) %}
      <li>
        <a href="#">{{ i + 1 }}.  {{ current_user_items[i].title }}</a>
        <br>
        <a href="#">{{ current_user_items[i].body }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
      <h4>There is no posts in the Database</h4>
  {% endif %}
</div>
{% endblock sectionRight %}
