{% extends 'user_index.html' %}
{% block sectionRight %}

{% if current_user.idApi %}
  <h4>Update de l'album {{ album_id }}</h4>
  <form class="" action="" method="post">
    {{ albumform.hidden_tag() }}

    {{ albumform.title.label(class='form-label') }}
    {{ albumform.title(class='form-control') }}
    <br>
    {{ albumform.addBtn }}
  </form>

{% else %}
  <h4>Update de l'album  {{ album_id }}</h4>
  <form class="" action="" method="post">
    {{ albumform.hidden_tag() }}
    {{ albumform.title.label(class='form-label') }}
    {{ albumform.title(class='form-control') }}
    <br>
    {{ albumform.addBtn }}
  </form>
{% endif %}
<br>
<br><br>
<br>
<br>
<a href="{{ url_for('menuItem', item='albums')}}"><button type="button" name="button">Retour</button></a>
{% endblock sectionRight %}
